html {
  font-family: sans-serif;
  font-display: swap;
}

body {
  margin: 0;
}

p {
  margin: 0;
  font-family: 'Merriweather', serif;
  font-display: swap;
  color: #FFFFFF;
}

a {
  text-decoration: none;
}